 <div class="container">   
    <ol class="breadcrumb breadcumb-custom">
      <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i></li>
      <li class="breadcrumb-item"><a href="#/home">Home</a></li>
      <li class="breadcrumb-item"><a href="#/all">All Products</a></li>
      <li class="breadcrumb-item active">{{product.name}}</li>
    </ol>

    <div class="col col-md-4 col-sm-6 col-12">
        <a href="#/products/product/{{product.id}}">
            <img class="responsive-image" src="http://localhost:1337/api/products/image/{{product.image}}">
        </a>
        <div>{{product.name}}</div>
        <div>{{prroduct.price}}</div>
        <button class="btn btn-theme-default">Add to cart</button>
    </div>
</div>